{% extends 'base.html.twig' %}

{% block title %}Hello RegistrationController!{% endblock %}

{% block main %}
<div class="relative">
    <h1>Inscription</h1>
    {{ form_start(registrationForm) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.lastname) }}
        {{ form_row(registrationForm.firstname) }}
        {{ form_row(registrationForm.plainPassword) }}
        <div class="flex items-center">
            <a href="{{ path('app_login') }}">Retour</a>
            {{ form_row(registrationForm.submit) }}
        </div>
    {{ form_end(registrationForm) }}
</div>
{% endblock %}
